/* 
    Created on : 16/05/2016, 22:23:05
    Author     : sgt cleyton almeida
*/

body{
    /*background: #46a546;*/
    /*background: #09f;*/
}

/*
font-family: Arial, Helvetica, sans-serif;
font-family: 'Arial Black', Gadget, sans-serif;
font-family: 'Bookman Old Style', serif;
font-family: 'Comic Sans MS', cursive;
font-family: Courier, monospace;
font-family: 'Courier New', Courier, monospace;
font-family: Garamond, serif;
font-family: Georgia, serif;
font-family: Impact, Charcoal, sans-serif;
font-family: 'Lucida Console', Monaco, monospace;
font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
font-family: 'MS Sans Serif', Geneva, sans-serif;
font-family: 'MS Serif', 'New York', sans-serif;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
font-family: Symbol, sans-serif;
font-family: Tahoma, Geneva, sans-serif;
font-family: 'Times New Roman', Times, serif;
font-family: Georgia, 'Times New Roman', Times, serif;
font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
font-family: Verdana, Geneva, sans-serif;
font-family: Webdings, sans-serif;
font-family: Wingdings, 'Zapf Dingbats', sans-serif;

*/

.fila{
    width: 80px;
    height: 80px;
    background: #fff;
    padding: 12px;
    border: 2px solid;
    color: #000;
    margin-left: 5px;
    margin-bottom: 10px;
    display:inline;
}
.fora-da-fila {
    background: #FF0000;
    float: right;
    margin-right: 180px;
    margin-top: -25px;
    /*width: 15px;*/
    display:inline;
    text-align: center;
    border-radius: 1px;
    color: #fff;
    font-family: 'Arial Black', Gadget, sans-serif;
    box-shadow: 1px 1px 1px #000; /* sombra*/

}
.pendencia-por-fila {
    background: #FF0000;
    width: 15px;
    display:inline;
    text-align: center;
    border-radius: 1px;
    color: #fff;
    font-family: 'Arial Black', Gadget, sans-serif;
    box-shadow: 1px 1px 1px #000; /* sombra*/
}

.pendencia {
    background: #FF0000;
    padding: 2px;
    margin-left: 11px;
    margin-top: -10px;
    text-align: center;
    border-radius: 1px;
    color: #fff;
    font-family: 'Arial Black', Gadget, sans-serif;
    box-shadow: 1px 1px 1px #fff; /* sombra*/
    -moz-box-shadow: 1px 1px 1px #fff; 
    -webkit-box-shadow: 1px 1px 1px #fff; 
    position: absolute; /*faz a imagem ficar por baixo da desta div*/
}
.indice_fora_da_fila {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    /*border: 1px solid #000000;*/
    background-color: #F39814;
    text-align: center;
    color: #fff;
    font-size: 12px;
    float: right;
    margin-top: -23px;
    margin-right: 170px; 
}

.especialidade #busca input.btn-busca{
    width: 18px;
    height: 18px;
    float: right;
    position: relative;
    margin-right: 280px;
    margin-top: -23px;
    border: 0;
    background: url(../img/lupa.png) top no-repeat;

}
.especialidade #busca input.btn-busca:hover{
    cursor: pointer;
    background: url(../img/lupa.png) bottom no-repeat;
}

.especialidade #busca input#texto{
    font: 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: #8699A4;
    padding: 2px;
}

.container #navbar ul li:hover{
    background: #ccc;
}

.sidebar{
    background: #B4CDCD;
    /*height: 500px;*/
    border: 3px solid;
    border-radius: 5px;
}
.sidebar .sidebar1{
    margin-top: 5px;
    /*width: 277px;*/
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: -5px;
    margin-right: -5px;
    background: #FFFFF0;
}

.sidebar .sidebar1 img{
    float: right;
    /*background: #B4CDCD;*/
    width: 30px;
    margin: 5px;
}
.sidebar .sidebar1 #logado{
    float: left;
    /*background: #009926;*/
    margin-top:30px;
    margin-left: 20px;
}
.sidebar .sidebar1 strong{
    float: left;
    /*background: #ccc;*/
    margin-left: 30px;
    width: 100px;
}
.sidebar .sidebar1 span{
    float: left;
    /*background: #009926;*/
    /*width: 230px;*/
    margin-left: 40px;
    color: #27408B;
}
.sidebar .sidebar1 .acesso{
    float: left;
    /*background: #ccc;*/
    /*width: 150px;*/
    margin-left: 20px;
}
.sidebar .sidebar1 .datahora{
    float: left;
    /*background: #009926;*/
    margin-left: 70px;
    color: #FF0000;
}

.sidebar .sidebar2{
    margin-top: 2px;
    margin-bottom: 4px;
    /*width: 277px;*/
    /*height: 275px;*/
    border: 2px solid;
    border-radius: 5px;
    margin-left: -5px;
    margin-right: -5px;
    background: #FFFFF0;

}
.sidebar .sidebar2 p{
    /*background: #ccc;*/
    margin: 10px;
}
.sidebar .sidebar2 span{
    float: left;
    margin-left: 23px;
    /*background: #ccc;*/
    /*width: 240px;*/
    color: #27408B;
}

.page-header h1{
    margin-top: 70px;
    text-align: center;
}
.principal{
    background: #ccc;
    height: 500px;
    border: 3px solid;
    border-radius: 5px;
}

footer p{
    text-align: center;
}
.conteudo{
    background: #ccc;
    height: 500px;
    border: 3px solid;
}
/*.especialidade{
    background: #ccc;
    height: 500px;
    border: 3px solid;
    border-radius: 5px;
}
.form-p1{
    margin: 0 auto;
    float: none;
    height: 300px;
}   */












